<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276396897896-1rrpv607g7q65lqt8ie0lt1r85ksal4s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276396897896-1rrpv607g7q65lqt8ie0lt1r85ksal4s</string>
	<key>API_KEY</key>
	<string>AIzaSyARHy1nvF3mNRx0pe9kkF-zti44RcI2eDs</string>
	<key>GCM_SENDER_ID</key>
	<string>276396897896</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whizapp</string>
	<key>PROJECT_ID</key>
	<string>whizapp-153fd</string>
	<key>STORAGE_BUCKET</key>
	<string>whizapp-153fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276396897896:ios:ad8e61d27ad89b32ce2ddd</string>
</dict>
</plist>